.team-welcome-title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
}
.team-card{
    align-items: center;
    text-align: center;
    width: 450px;
    padding: 30px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #F4DCD6 !important;
    
}
.team-card-title{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 150%;
}
.team-card-text{
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 100%;
}
.team-card-pic{
    width: 50%;
}

.team-card-linkedin{
    font-family: Arial;
    font-size: 20px;
    font-weight:bold;
    color: #59788E;
}

.team-card-github{
    font-family: Arial;
    font-size: 20px;
    font-weight:bold;
    color: #59788E;
}